@mixin colorize {
    @if $light-text {
        color: $primary-color;
    } @else {
        color: black;
    }
}

.logo {
    display: flex;
    text-align: left;

    span {
        margin: 0px 17px;
        
        #logo-text {
            font-family: 'Tomatoes';
            font-size: 48px;
            @include colorize;
        }

        #bottom-text {
            font-family: 'Diamond Girl';
            font-size: 36px;
            color: $secondary-color;
            transform: translateY(-1em)
        }
    }
}

nav {
    display: flex;
    justify-content: center;
    padding-top: 13px;

    #navbar {
        margin: auto 0;
        padding: 0 120px;

        ul {
            display: flex;
            justify-content: space-between;
            list-style: none;
            font-family: 'Diamond Girl';
            font-weight: lighter;
            font-size: 30px;

            li {
                margin: 0 26px;
            }
        }

        a {
            text-decoration: none;
            @include colorize;
            transition: color 0.3s;

            &:hover {
                color: $secondary-color;
            }
        }
    }

    #cart {
        margin: auto 0;
    }

}