$primary-color: white;
$secondary-color: #E59656;
$grid-width: 1170px;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'Tomatoes';
    src: url('../font/tomatoes.ttf') format('truetype');
}

@font-face {
    font-family: 'Open Sans';
    src: url('../font/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Diamond Girl';
    src: url('../font/diamond-girl-skinny.otf') format('opentype');
}

@mixin navigation-bar($light-text: false) {
    .logo {
        display: flex;
        text-align: left;

        span {
            margin: 0px 17px;
            
            #logo-text {
                font-family: 'Tomatoes';
                font-size: 48px;
                @if $light-text {
                    color: $primary-color;
                } @else {
                    color: black;
                }
            }
    
            #bottom-text {
                font-family: 'Diamond Girl';
                font-size: 36px;
                color: $secondary-color;
                transform: translateY(-1em)
            }
        }
    }
    
    nav {
        display: flex;
        justify-content: center;
        padding-top: 13px;
            
        a {
            text-decoration: none;
        }

        #navbar {
            margin: auto 0;
            padding: 0 120px;
    
            ul {
                display: flex;
                justify-content: space-between;
                list-style: none;
                font-family: 'Diamond Girl';
                font-weight: lighter;
                font-size: 30px;
    
                li {
                    margin: 0 26px;
                }
            }
    
            a {
                text-decoration: none;
                @if $light-text {
                    color: $primary-color;
                } @else {
                    color: black;
                }
                transition: color 0.3s;
    
                &:hover {
                    color: $secondary-color;
                }
            }
        }
    
        #cart {
            margin: auto 0;
        }
    
    }

}