@import 'presets';

@include logo;
@include navigation-bar;

#underline {
    position: relative;
    left: 50%;
    transform: translateX(-50%) translateY(-15px);
    max-width: 100%;
    overflow-x: hidden;
}

@include page-path;

@keyframes opacity-change {
    from {
        opacity: 0;
    }
    66% {
        opacity: 1;
    }
    to {
        opacity: 1;
    }
}

@keyframes slide-from-top {
    from {
        transform: translateY(-50px);
    }
    to {
        transform: translateX(0);
    }
}

#select-card-text {
    font-family: 'Diamond Girl';
    font-weight: lighter;
    font-size: 64px;
    margin: 0 auto 35px auto;
    text-align: center;
    opacity: 0;
    animation: slide-from-top 1s ease-out, opacity-change 1s ease-out forwards;
}

#main-wrapper {
    max-width: $grid-width;
    height: 670px;
    margin: 15px auto 150px auto;

    .inactive {
        display: none;
    }
}

#cards {
    display: flex;
    justify-content: space-between;
    width: 770px;
    height: 515px;
    margin: 0 auto;
    text-align: center;

    @keyframes slide-from-left {
        from {
            transform: translateX(-100px);
        }
        to {
            transform: translateX(0);
        }
    }

    @keyframes slide-from-right {
        from {
            transform: translateX(100px);
        }
        to {
            transform: translateX(0);
        }
    }

    @keyframes select-bun {
        from {
            opacity: 1;
        }
        to {
            opacity: 0;
            transform: scale(110%);
        }
    }

    .select-pretzel {
        opacity: 0;
        animation: slide-from-left 1s ease-out 0.5s, opacity-change 1s ease-out 0.5s forwards;
    }

    .select-bagel {
        opacity: 0;
        animation: slide-from-right 1s ease-out 0.5s, opacity-change 1s ease-out 0.5s forwards;
    }

    .ready-to-select:hover {
        transform: translateY(-20px);
        box-shadow: 10px -10px 20px rgba(229, 150, 86, 0.05), -15px 15px 20px rgba(229, 150, 86, 0.2);
    }

    .selected {
        animation: select-bun 0.5s ease-out;
    }

    .card {
        padding: 32px;
        width: 375px;
        background: white;
        box-shadow: 10px -10px 20px rgba(229, 150, 86, 0.05), -10px 10px 20px rgba(229, 150, 86, 0.1);
        font-family: 'Diamond Girl';
        border: none;
        cursor: pointer;
        transition: box-shadow 0.3s, transform 0.3s;
        border-radius: 50px;

        div {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            height: 365px;
        
            img {
                width: min-content;
            }
            
            h2 {
                font-weight: lighter;
                font-size: 48px;
            }
        }

        p {
            font-weight: lighter;
            font-size: 24px;
            line-height: 29px;
            margin-top: 25px;
        }
    }
}

@include footer;