* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'Tomatoes';
  src: url("../font/tomatoes.ttf") format("truetype");
}

@font-face {
  font-family: 'Open Sans';
  src: url("../font/OpenSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'Diamond Girl';
  src: url("../font/diamond-girl-skinny.otf") format("opentype");
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
}

.logo span {
  margin: 0px 17px;
}

.logo span #logo-text {
  font-family: 'Tomatoes';
  font-size: 48px;
  color: black;
}

.logo span #bottom-text {
  font-family: 'Diamond Girl';
  font-size: 36px;
  color: #E59656;
  -webkit-transform: translateY(-1em);
          transform: translateY(-1em);
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 13px;
}

nav a {
  text-decoration: none;
}

nav #navbar {
  margin: auto 0;
  padding: 0 120px;
}

nav #navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  font-family: 'Diamond Girl';
  font-weight: lighter;
  font-size: 30px;
}

nav #navbar ul li {
  margin: 0 26px;
}

nav #navbar a {
  text-decoration: none;
  color: black;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

nav #navbar a:hover {
  color: #E59656;
}

nav #cart {
  margin: auto 0;
}

#underline {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-15px);
          transform: translateX(-50%) translateY(-15px);
}

#page-path {
  font-family: 'Open Sans';
  font-size: 18px;
  color: #666666;
  width: 1170px;
  margin: 0 auto;
  text-align: left;
}

#page-path span {
  color: #E59656;
}

@-webkit-keyframes opacity-change {
  from {
    opacity: 0;
  }
  66% {
    opacity: 1;
  }
  to {
    opacity: 1;
  }
}

@keyframes opacity-change {
  from {
    opacity: 0;
  }
  66% {
    opacity: 1;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes slide-from-top {
  from {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes slide-from-top {
  from {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

#select-card-text {
  font-family: 'Diamond Girl';
  font-weight: lighter;
  font-size: 64px;
  margin: 20px auto 35px auto;
  text-align: center;
  opacity: 0;
  -webkit-animation: slide-from-top 1s ease-out, opacity-change 1s ease-out forwards;
          animation: slide-from-top 1s ease-out, opacity-change 1s ease-out forwards;
}

#cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 770px;
  height: 515px;
  margin: 0 auto 200px auto;
  text-align: center;
}

@-webkit-keyframes slide-from-left {
  from {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes slide-from-left {
  from {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes slide-from-right {
  from {
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes slide-from-right {
  from {
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

#cards #select-pretzel {
  opacity: 0;
  -webkit-animation: slide-from-left 1s ease-out 0.5s, opacity-change 1s ease-out 0.5s forwards;
          animation: slide-from-left 1s ease-out 0.5s, opacity-change 1s ease-out 0.5s forwards;
}

#cards #select-bagel {
  opacity: 0;
  -webkit-animation: slide-from-right 1s ease-out 0.5s, opacity-change 1s ease-out 0.5s forwards;
          animation: slide-from-right 1s ease-out 0.5s, opacity-change 1s ease-out 0.5s forwards;
}

#cards .card {
  padding: 32px;
  width: 375px;
  background: white;
  -webkit-box-shadow: 10px -10px 20px rgba(229, 150, 86, 0.05), -10px 10px 20px rgba(229, 150, 86, 0.1);
          box-shadow: 10px -10px 20px rgba(229, 150, 86, 0.05), -10px 10px 20px rgba(229, 150, 86, 0.1);
  font-family: 'Diamond Girl';
  border: none;
  cursor: pointer;
  -webkit-transition: -webkit-box-shadow 0.3s, -webkit-transform 0.3s;
  transition: -webkit-box-shadow 0.3s, -webkit-transform 0.3s;
  transition: box-shadow 0.3s, transform 0.3s;
  transition: box-shadow 0.3s, transform 0.3s, -webkit-box-shadow 0.3s, -webkit-transform 0.3s;
}

#cards .card div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 365px;
}

#cards .card div img {
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
}

#cards .card div h2 {
  font-weight: lighter;
  font-size: 48px;
}

#cards .card p {
  font-weight: lighter;
  font-size: 24px;
  line-height: 29px;
  margin-top: 25px;
}

#cards .card:hover {
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
  -webkit-box-shadow: 10px -10px 20px rgba(229, 150, 86, 0.05), -15px 15px 20px rgba(229, 150, 86, 0.2);
          box-shadow: 10px -10px 20px rgba(229, 150, 86, 0.05), -15px 15px 20px rgba(229, 150, 86, 0.2);
}
/*# sourceMappingURL=game.css.map */