* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'Tomatoes';
  src: url("../font/tomatoes.ttf") format("truetype");
}

@font-face {
  font-family: 'Open Sans';
  src: url("../font/OpenSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'Diamond Girl';
  src: url("../font/diamond-girl-skinny.otf") format("opentype");
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
}

.logo span {
  margin: 0px 17px;
}

.logo span #logo-text {
  font-family: 'Tomatoes';
  font-size: 48px;
  color: white;
}

.logo span #bottom-text {
  font-family: 'Diamond Girl';
  font-size: 36px;
  color: #E59656;
  -webkit-transform: translateY(-1em);
          transform: translateY(-1em);
}

header {
  width: 100%;
  height: 648px;
  background-position: center;
  background-image: url("../img/products/header-back.png");
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 13px;
}

header nav a {
  text-decoration: none;
}

header nav #navbar {
  margin: auto 0;
  padding: 0 120px;
}

header nav #navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  font-family: 'Diamond Girl';
  font-weight: lighter;
  font-size: 30px;
}

header nav #navbar ul li {
  margin: 0 26px;
}

header nav #navbar a {
  text-decoration: none;
  color: white;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

header nav #navbar a:hover {
  color: #E59656;
}

header nav #cart {
  margin: auto 0;
}

header #page-path {
  font-family: 'Open Sans';
  font-size: 18px;
  color: #666666;
  width: 1170px;
  margin: 0 auto;
  text-align: left;
}

header #page-path span {
  color: #E59656;
}

header > h2 {
  margin: 60px auto 30px auto;
  width: 1170px;
  color: white;
  font-family: 'Diamond Girl';
  font-weight: lighter;
  font-size: 64px;
}

header > p {
  margin-right: auto;
  margin-left: auto;
  padding-right: 300px;
  width: 1170px;
  color: white;
  font-family: 'Open Sans';
  font-weight: 300;
  font-size: 36px;
  line-height: 49px;
}

#product-list {
  margin: 70px auto 0 auto;
  width: 967px;
}

#product-list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style: url("../img/index/header/splitter-ellipse.svg");
  font-family: 'Diamond Girl';
  font-weight: lighter;
  font-size: 48px;
}

#product-list ul a {
  color: black;
  text-decoration: none;
}

#product-list ul a:hover::after {
  color: #E59656;
  width: 120%;
}

#product-list ul a::after {
  content: "";
  display: block;
  position: relative;
  width: 0%;
  height: 3px;
  background-color: #E59656;
  -webkit-transition: width 0.3s ease;
  transition: width 0.3s ease;
}

#product-list ul li:first-child {
  list-style: none;
}

#product-list ul li:first-child a::after {
  width: 120%;
}

#product-list ul li {
  margin: 0 34px;
}

#products-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 70px auto 100px auto;
  width: 1170px;
  height: 662px;
}

#products-wrapper .product {
  position: relative;
  width: 370px;
  height: 316px;
  margin-bottom: 30px;
  cursor: pointer;
}

#products-wrapper .product:hover::after {
  opacity: 0.5;
}

#products-wrapper .product::after {
  content: '';
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
  background-color: black;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

#products-wrapper .product div {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  z-index: 1;
}

#products-wrapper .product div img {
  left: 50%;
  top: 50%;
  width: auto;
  height: auto;
  position: absolute;
  -webkit-transform: translate(-50%, -50%) scale(0.6);
          transform: translate(-50%, -50%) scale(0.6);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

#products-wrapper .product div span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  width: 100%;
  padding: 0 20px 20px 20px;
  bottom: 0;
  left: 0;
}

#products-wrapper .product div span p {
  color: white;
  font-family: 'Open Sans';
  font-weight: 300;
  font-size: 24px;
}

#products-wrapper .product div span .price {
  font-weight: 600;
}

#products-wrapper .product div:hover {
  opacity: 1;
}

#products-wrapper .product div:hover img {
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}

footer {
  background-color: black;
  height: 179px;
  padding: auto;
}

footer div {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1170px;
  margin: auto;
}

footer div .logo #logo-text {
  color: white;
  font-size: 36px;
}

footer div .logo #bottom-text {
  font-size: 24px;
}

footer div #footer-info {
  text-align: center;
}

footer div #footer-info p {
  color: white;
  font-family: 'Open Sans';
  font-size: 14px;
}

footer div #footer-info a {
  text-decoration: none;
}

footer div #footer-info #policy {
  text-decoration: underline;
}

footer div #footer-social img {
  margin: 0px 10px;
}
/*# sourceMappingURL=products.css.map */