* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'Tomatoes';
  src: url("../font/tomatoes.ttf") format("truetype");
}

@font-face {
  font-family: 'Open Sans';
  src: url("../font/OpenSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'Diamond Girl';
  src: url("../font/diamond-girl-skinny.otf") format("opentype");
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
}

.logo span {
  margin: 0px 17px;
}

.logo span #logo-text {
  font-family: 'Tomatoes';
  font-size: 48px;
  color: black;
}

.logo span #bottom-text {
  font-family: 'Diamond Girl';
  font-size: 36px;
  color: #E59656;
  -webkit-transform: translateY(-1em);
          transform: translateY(-1em);
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 13px;
}

nav a {
  text-decoration: none;
}

nav #navbar {
  margin: auto 0;
  padding: 0 120px;
}

nav #navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  font-family: 'Diamond Girl';
  font-weight: lighter;
  font-size: 30px;
}

nav #navbar ul li {
  margin: 0 26px;
}

nav #navbar a {
  text-decoration: none;
  color: black;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

nav #navbar a:hover {
  color: #E59656;
}

nav #cart {
  margin: auto 0;
}

#underline {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-15px);
          transform: translateX(-50%) translateY(-15px);
  max-width: 100%;
  overflow-x: hidden;
}

#page-path {
  font-family: 'Open Sans';
  font-size: 18px;
  color: #666666;
  width: 1170px;
  margin: 0 auto;
  text-align: left;
}

#page-path span {
  color: #E59656;
}

main {
  width: 1170px;
  height: 638px;
  margin: 70px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main > img {
  margin-right: 70px;
}

main > span {
  margin: auto 0;
}

main > span h2 {
  font-family: 'Diamond Girl';
  font-weight: lighter;
  font-size: 48px;
}

main > span #price {
  margin-top: 40px;
  font-family: 'Diamond Girl';
  font-weight: lighter;
  font-size: 48px;
  color: #E59656;
}

main > span #price span {
  font-family: 'Open Sans';
  font-weight: 300;
  font-size: 24px;
  color: black;
}

main > span .mark-info {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main > span .mark-info img {
  margin-right: 6px;
}

main > span .mark-info p {
  font-family: 'Open Sans';
  font-size: 18px;
  line-height: 25px;
}

main > span #cart-count-wrapper {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 75%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main > span #cart-count-wrapper > p {
  font-family: 'Open Sans';
  font-size: 24px;
  cursor: pointer;
}

main > span #cart-count-wrapper > p:hover::after {
  color: #E59656;
  width: 120%;
}

main > span #cart-count-wrapper > p::after {
  content: "";
  display: block;
  position: relative;
  width: 0%;
  height: 3px;
  background-color: #E59656;
  -webkit-transition: width 0.3s ease;
  transition: width 0.3s ease;
}

main > span #cart-count-wrapper #count {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 138px;
  height: 83px;
  background: white;
  -webkit-box-shadow: 10px -10px 20px rgba(229, 150, 86, 0.05), -10px 10px 20px rgba(229, 150, 86, 0.1);
          box-shadow: 10px -10px 20px rgba(229, 150, 86, 0.05), -10px 10px 20px rgba(229, 150, 86, 0.1);
  border-radius: 25px;
  font-family: 'Open Sans';
  font-size: 24px;
}

main > span #cart-count-wrapper #count button {
  font-family: 'Open Sans';
  font-size: 24px;
  width: 40px;
  height: 40px;
  border: none;
  background: none;
  cursor: pointer;
}

main > span #cart-count-wrapper #count button:last-child {
  color: #E59656;
}

main > span h3 {
  margin-top: 50px;
  font-family: 'Open Sans';
  font-size: 24px;
  color: #E59656;
}

main > span #ingredients {
  margin-top: 15px;
  font-family: 'Open Sans';
  font-weight: 300;
  font-size: 18px;
  line-height: 25px;
}

footer {
  background-color: black;
  height: 179px;
  padding: auto;
}

footer div {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1170px;
  margin: auto;
}

footer div .logo #logo-text {
  color: white;
  font-size: 36px;
}

footer div .logo #bottom-text {
  font-size: 24px;
}

footer div #footer-info {
  text-align: center;
}

footer div #footer-info p {
  color: white;
  font-family: 'Open Sans';
  font-size: 14px;
}

footer div #footer-info a {
  text-decoration: none;
}

footer div #footer-info #policy {
  text-decoration: underline;
}

footer div #footer-social img {
  margin: 0px 10px;
}
/*# sourceMappingURL=product.css.map */